body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    background-color: #e5e0ce;
}


.title {
    background: #ed649b;
    background: radial-gradient(circle, rgba(237, 100, 155, 1) 0%, rgba(148, 187, 233, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 100px;
}

.leader-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  text-align: center;
}

.user-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 100px;
  text-align: center;
  border: solid;
  padding: 15px 25px;
}

.user-name, .user-score {

  min-width: 60px;
}