body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    background-color: #e5e0ce;
}

.title {
    background: #ed649b;
    background: radial-gradient(circle, rgba(237, 100, 155, 1) 0%, rgba(148, 187, 233, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.play {
    font-family: inherit;
    background-color: #ffffff;
    padding: 10px 25px;
    border-radius: 10px;
}

.play:hover {
    background-color: #ece9e9;
}

/* From Uiverse.io by Maximinodotpy */ 
.inputGroup {
  font-family: inherit;
  margin: 1em 0 1em 0; 
}

.inputGroup input {
  font-size: 100%;
  padding: 0.8em;
  outline: none;
  border: 2px solid rgb(200, 200, 200);
  background-color: transparent;
  border-radius: 20px;
}

.inputGroup :is(input:focus, input:valid) {
  border-color: #ed649b;
}