.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;   
}

.info {
    max-width: 600px;
    padding: 10px;
}

.icon {
    padding-top: 20px;
    color: #fb8500;
    font-size: 80px;
}

.backColor {
    background-color: beige;
    color: rgb(27, 27, 27);
}



@media (width >= 750px) {
  .content {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 35px;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 300px;
  }
}

