.contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    background-color: beige;
    color: rgb(27, 27, 27);
}

.comment {
    display: block;
    width: 100%;
}

.email, .message {
    width: 100%;  
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    width: 90vw;
    padding-bottom: 20px;
}